html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
}
img {
    max-width: 100%;
    height: auto
}
footer {
    position: absolute;
    bottom: 0;
    min-height:50px;
}